
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after { box-sizing: inherit; }

main {
  width: 90%;
  margin-top: 2em;
  background-color: inherit;
  background-image: inherit;
  font-family: inherit;
  align-self: center;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
}

.tweet-log {
  display: flex;
  flex-direction: column-reverse;
}

.media-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}

.container,
.profile { width: 100%; }

@media (min-width: 768px) {

  nav { background-color: hsla(258, 62%, 60%, 0.678); }

  nav button { background-color: hsla(258, 72%, 70%, 0.678); }
  
  .media-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    width: 55%;
    padding-top: 150px;
  }
  .profile {
    padding-top: 380px;
    padding-bottom: 380px;
    width: 37%;
  }
}
